In [ ]:
print("Welcome")

Welcome

In [ ]:
# Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. 
#Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. 
#List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists.
 # Please do not use any in-built function. 

list_1 = ["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
list_2 = ["Mukesh","Sai","Mahesh","Ali","Jacob","Sarita"]

for i in range (len(list_1)):
  if list_1[i] in list_2:
    print(list_1[i])

Mahesh
Ali
Jacob

In [ ]:
#Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. 
#Please write a program which separates all the names and convert them into a list.
 #Once converted in a list, please write a program which adds their age. 


#Ramesh :  25

#Suresh : 22

#Mohit : 26

str='Ramesh Suresh Mohit'
age = [25,22,26]
x= str.split()
for i in range(len(age)):
  print(x[i] ,":",age[i])

Ramesh : 25
Suresh : 22
Mohit : 26

In [ ]:
#Q3: A few students from a university have taken three exams

#Name = Sam, Jacy, Tom, Steve

#Python = 25, 26, 29, 28

#Statistics = 23, 21, 19, 25

#SQL = 29, 27, 28, 25


#Please write a program which calculates mean values (no in-built function for mean) of 
#all three tests and print the highest mean value. Addition and other functions are allowed. 
#Please also report who scored the highest mark in python using programming construct. 

Name = ['sam','Jacy','Tom','Steve']
python = [25,26,29,28]
p_mean = sum(python)/4
#print(python)
#print("p_mean =",p_mean)

Stastistics = [23,21,19,25]
s_mean = sum(Stastistics)/4
#print("s_mean = ",s_mean)

SQL = [29,27,28,25]
sql_mean = sum(SQL)/4
print("sql_mean = ",sql_mean)

#----------------------- Print Highest average--------------------------------

p_mean = 27.0
s_mean =  22.0
sql_mean =  27.25

if p_mean > sql_mean:
  print('python has highest average')
elif s_mean > sql_mean:
    print('Stastistics has higest average')
else:
    print('Sql has highest average')

#-----------------------Highest marks in Python---------------------------------
#python = [25,26,29,28]
a=28
for i in range(len(python)):
  if python[i] > a:
     k = i 
print(Name[k])

sql_mean =  27.25
Sql has highest average
Tom

In [ ]:
#Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. 
#Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?  

Paracetamol = 35
p_price = 35 * 2
azithromycin = 49
a_price = 49 * 3
vitamin_c = 33
v_price = 33 * 1
amount = (p_price + a_price +v_price)
Given_amount = 2000
change = Given_amount - amount
print('change =',change)

In [ ]:
#5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. 
#This function should be applicable for all other different sentences.


x = input("enter the sentence:")
y = 'aeiouAEIOU'
count = 0
for i in x:
     if i in y:
       #i = count 
       count = count + 1
print("vowels are",count)

enter the sentence:Elephant
vowels are 3

In [ ]:
#Q6: You have been appointed by the election commission to create a website. 
#Your first task is to work on a program which tells candidates if they are eligible for voting or not. 
#If they are eligible your output should be ‘Congrats! You are eligible’, 
#otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years. 
#For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. 
#If someone’s age is 15 years it should print output as ‘return after 3 years’.   

x = int(input('Enter the age:'))
if x > 18:
  print('Congrats! You are eligible')
else:
  y = 18 - x
  print("return after",y,"years")